<style>
    #password-strength-indicator {
        position: absolute;
        right: 0;
        top: 0px;
        width: 5px;
        padding: 0 10px;
        cursor: pointer;
    }
    
    #password-strength-indicator span {
        display: block;
        height: 5px;
        margin-bottom: 2px;
        width: 5px;
        border-radius: 5px;
        background: #EDF0F3
    }
    
    .has-feedback .form-control-feedback {
        top: 0;
        left: 0;
        width: 46px;
        height: 46px;
        line-height: 46px;
        color: #555
    }

</style>
<md-dialog aria-label="new card" style="max-width:500px;width:100%;" ng-cloak>
    <form name="password.editForm" ng-submit="password.editForm.$valid && submit()">
        <md-content layout-padding layout="column" md-theme="{{password.shellConfig.themeconfiguration.palettename}}-{{password.shellConfig.themeconfiguration.theme}}" md-theme-watch="true">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Old Password</label>
                <input required type="password" name="oldPassword" ng-model="password.oldPassword">
                <div ng-messages="password.editForm.oldPassword.$error">
                    <div ng-message-exp="['required']">Old Password is required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>New Password</label>
                <input required type="password" name="newPassword" ng-model="password.newPassword" password-strength-indicator>
                <div ng-messages="password.editForm.newPassword.$error">
                    <div ng-message-exp="['required']">New Password is required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Confirm New Password</label>
                <input required type="password" name="confirmNewPassword" ng-model="password.confirmNewPassword">
                <div ng-messages="password.editForm.confirmNewPassword.$error">
                    <div ng-message-exp="['required']">Confirm your new password</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button ng-click="password.cancel()">
                    cancel
                </md-button>
                <md-button type="submit" class="md-primary" ng-disabled="password.disableChangePasswordBtn">
                    Change Password
                </md-button>
            </div>
        </md-content>
    </form>
</md-dialog>
